body {
    font-family: 'Roboto', arial;
    
    padding: 0;
    margin: 0;
}

.container{
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
    flex-direction: column;
    text-align: center;
}

/* Navbar Part */

.logo{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0px;
}

.header a{
    text-decoration: none;
    color: #E5E7EB;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero Part */

.hero {
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

img { 
    width: 250px;
    height: auto;
}

.left-text{
    text-align: left;
    margin-right: 30px;
}

.left-text h1{
    font-size: 48px;
    font-weight: bolder;
    color:  #F9FAF8;
}

.left-text p{
    font-size: 15px;
    color: grey;
    margin-top: -30px;
}

.hero button{
    color:white;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    width: 100px;
    height: 30px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/* Main Content */

.Main{
    text-align: center;
    padding-bottom: 50px;
}

.Main h1{
    size: 36px;
    font-size:xx-large;
    color: #1F2937;
    padding: 20px;
}

.body{  
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info{
    width: 200px;
    justify-content: center;
    align-items: center;
}

.text,.main{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.box{
    border: 3px solid #3882F6;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin: 0 auto;
    
}

/* Quote */

.quote{
    background: #E5E7EB;
    color: #1F2937;
    display:flex;
    flex-direction: column;
    padding: 100px;
    padding-bottom: 50px;
}

.quote p{
    align-items: center;
    font-style: italic;
    font-size:24px;
    font-weight: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.quote b{
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
}

